# Ignore compiled Python files
__pycache__/

# Ignore archives folder
/archive/
/scrap/

# Ignore all the .txt files
*.txt

# Ignore all the saved PNG files
*.png

# Ignore 'template-job-script.sh'
template-job-script.sh